<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Cashflow</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><string>Cashflow</strong></li>
            </ul>
        </nav>
        <main class="container">
            <section>
                <header>
                    {% block header %}{% endblock %}
                </header>
                {% block content %}{% endblock %}
            </section>
        </main>
    </body>
</html>
