<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cashflow</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    </head>
    <body>
        <header class="container">
            <hgroup>
                <h1>Cashflow</h1>
                <h2>See where your money is going and where it will be</h2>
        </header>
        <main class="container">
            <section id="overview">
                <h2>Cashflow</h2>
                <p>
                    Cashflow helps you visualize how your spending unfolds over time.
                </p>
            </section>
            <section id="cta">
                <h2>Try it</h2>
                <p>
                    Create a flow
                </p>
                <form action="/flow", method="post">
                    <button>Create</button>
                </form>
            </section>
        </main>
    </body>
</html>
